<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Code Academy</title>
  <!-- Google font style link  -->
  <link
    href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500&family=Rubik:ital,wght@0,400;0,500;0,700;1,400;1,500;1,600;1,700&family=Source+Serif+Pro:ital,wght@0,400;0,600;0,700;0,900;1,400;1,700;1,900&display=swap"
    rel="stylesheet">
  <!-- Font-Awesome cdn  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
  <!-- Custom css file  -->
  <!-- <link rel="stylesheet" href="style.css"> -->
</head>

<body>
  <div class="fullwebsite">
    <div class="header">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1>WELCOME TO MOVIE RENTAL SERVICE</h1>
            <p>Unleash the Magic of Cinema at Your Fingertips</p>
            <a href="/register" class="btn"> SignUp Now </a>
          </div>
        </div>
      </div>
    </div>
    <div class="service">
      <h1> Our Services</h1>
      <p>Discover a vast collection of movies and enjoy the ultimate movie rental experience.</p>
    </div>
    <div class="about">
      <h1>About Us</h1><br>
      <div class="about-row">
        <div class="about-col-1">
          <img src="https://th.bing.com/th/id/OIP.iVnnB77DnnXYum2rz-m45AHaEx?w=305&h=196&c=7&r=0&o=5&dpr=1.5&pid=1.7" alt="about" border="0" width="600" height="400">
        </div>
        <div class="about-col-1">
          <h3><b> Who we are</b></h3>
          <p>We are a team of passionate individuals dedicated to providing exceptional services in the film industry.
            With a deep love for cinema and a commitment to excellence, we strive to deliver outstanding film rental
            experiences for our customers. Our team consists of talented professionals who are knowledgeable about the
            industry and are committed to bringing the best films to our platform.</p>
          <h4><b> What we do</b></h4>
          <p>We offer a comprehensive film rental service that allows movie enthusiasts to explore a wide range of films
            from various genres and categories. Our extensive film collection includes classics, blockbusters,
            independent films, and much more. We curate and update our selection regularly, ensuring that our customers
            have access to the latest and greatest films. </p>
          <h4> <b>Why choose us</b></h4>
          <p>When it comes to film rental services, We stand out from the crowd. We prioritize customer satisfaction and
            go the extra mile to provide an exceptional experience. With a diverse selection of films, easy-to-use
            interfaces, and reliable customer support, we strive to make film-watching enjoyable and hassle-free. </p>
        </div>
      </div>
    </div>
    <div class="contact-us">
      <h1>Contact Us</h1>
      <div class="contact-row">
        <div class="contact-col">
          <i class="fa-solid fa-location-dot"></i>
          <p>Chennai<br>India</p>
        </div>
        <div class="contact-col">
          <i class="fa-solid fa-envelope"></i>
          <p>sakila@company.com</p>
        </div>
        <div class="contact-col">
          <i class="fa-solid fa-phone"></i>
          <p> +917783349922 <br>
            +919346455319 </p>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footer-row">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-github"></i>
        <i class="fa-brands fa-square-behance"></i>
        <i class="fa-brands fa-linkedin"></i>
      </div>
      <div class="footer-row-copy">
        <p> copyright@cg.com </p>
      </div>
    </div>
  </div>
</body>

</html>