<body>
  <h1 style="text-align:center ;">Search Movie By Name</h1>
  <input type="text" [(ngModel)]="title" placeholder="Enter title..." required />
  <button (click)="searchFilmsByName(title)">Search</button>

  <br>
  <br>


  <h1 *ngIf="show">Printing Records:--</h1>
  <table class="table" *ngIf="show">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Release Year</th>
      <th>Length</th>
      <th>Rating</th>
      <th>Rental Rate</th>
      <th>Language</th>
      <th>Special Features</th>

    </tr>
    <tr *ngFor="let film of films">
      <td>{{film.title}}</td>
      <td>{{film.description}}</td>
      <td>{{film.releaseYear}}</td>
      <td>{{film.length}}</td>
      <td>{{film.rating}}</td>
      <td>{{film.rentalRate}}</td>
      <td>{{film.language.name}}</td>
      <td>{{film.specialFeatures}}</td>

    </tr>

  </table>
</body>